* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fde8d7;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #3a3939;
    font-size: 24px;
}

#begin {
    text-align: center;
    margin-bottom: 20px;
}

#fieldSize {
    width: 100px;
    height: 30px;
    margin-left: 10px;
    border: 1px solid #bab1b1;
}

#startButton {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #e9c3dd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#startButton:hover {
    background-color: #e2399c;
}

#status {
    text-align: center;
    margin-bottom: 20px;
}

#status > *:not(.status-visible) {
    display: none;
}

#field {
    display: grid;
    gap: 5px;
    justify-content: center;
    padding: 10px;
    border: 2px solid #fde8d7;
}

#field > div {
    box-shadow: 0 0 0 1px red;
    width: 20px;
    height: 20px;
    background: #EEEEEE;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
}

#field > .cell-open {
    background: #ffffff;
    font-weight: 700;
}

#field > .cell-empty {
    color: rgba(0, 0, 0, 0);
}

#field > .cell-mine {
    background: url('image/bomb.png') #ff6666;
    background-size: contain;
    background-repeat: no-repeat;
}
